<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="logs/internalLog.txt">
  <extensions>
    <!--enable NLog.Web for ASP.NET Core-->
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!-- define various log targets -->
  <targets>
    <!-- write logs to file -->
    <target xsi:type="File"
				name="allfile"
				fileName="${basedir}/logs/${shortdate}.log"
		        layout="${longdate}|${logger}|${uppercase:${level}}|${message} ${exception:format=StackTrace} ${newline}"
				archiveAboveSize="10240000"
				archiveNumbering="Sequence"
				concurrentWrites="true"
				keepFileOpen="false"
				encoding="UTF-8" />

    <!--<target xsi:type="File" 
				name="ownFile" 
				fileName="${basedir}/logs/${shortdate}.log"
		        layout="${longdate}|${logger}|${uppercase:${level}}|${message} ${exception}" />-->

    <target xsi:type="File"
				name="ownFile"
				fileName="${basedir}/logs/webLog/${shortdate}.log"
				layout="${longdate} | ${message} ${newline}" />

    <target xsi:type="Null"
				name="blackhole" />
  </targets>

  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Error" writeTo="allfile" />

    <!--Skip Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
    <logger name="SystemError" minlevel="Error" writeTo="allfile" />
    <logger name="*" minlevel="Info" writeTo="ownFile" />
  </rules>
</nlog>