
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>getUpdates</title>
</head>
<body>
    <h2>@ViewBag.Msg</h2>

    <form action="/Home/StopGetUpdates" method="post" style="display:inline-block;" target="_self">
        <input type="submit" value="停止监听" style="width:140px;height:28px;border:1px solid #000;cursor:pointer;background-color:lightblue;color:#000;border-radius:5px;" onmouseover="this.style.color='red'" onmouseout="this.style.color='#000'" />
    </form>
</body>
</html>
